<%- model_class = User -%>
<% provide(:title, @user.name + " Home Page") %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <section>
      <% render 'shared/follow_stats' %>
    </section>
  </aside>
  <div class="span8">
    <%= render 'follow_form' if signed_in? %>
    <% if @user.trips.any? %>
      <h3>Trip Descriptions (<%= @user.trips.count %>)</h3>
      <ol class="trips">
        <%= render @trips %>
      </ol>
      <%= will_paginate @trips %>
    <% end %>  
  </div>
</div>
